@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #F97316;
  --color-success: #22C55E;
  --color-warning: #EAB308;
  --color-danger: #EF4444;
  --color-bg: #F8FAFC;
  --color-text-dark: #1E293B;
  --color-text-light: #64748B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC;
  color: #1E293B;
  box-sizing: border-box;
}